[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/nupp"]
	path = extern/nupp
	url = https://github.com/patternnoster/nupp.git
